body {
  font-family: Arial, sans-serif;
  background-color: #ffe4b5; /* Moccasin */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-account-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 28px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
   border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button a{
  color: #fff;
  text-decoration:none;
   font-weight: bold;
}



button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  background-color: #007bff;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}