body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color:#87ceeb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #28a745;
}

button[type="button"]:hover {
  background-color: #218838;
}

.terms-and-conditions {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}

.terms-and-conditions input[type="checkbox"] {
  margin-right: 5px;
}

.additional-options {
  margin-top: 20px;
}

.additional-options button,
.additional-options a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.additional-options button:hover,
.additional-options a:hover {
  background-color: #0056b3;
}

.additional-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}